
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/


.venv/
venv/
env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log

mlruns/
mlflow.db

# data/
# *.csv
*.parquet
# *.pkl

*.joblib
*.h5
*.onnx

monitoring/
general-ml/
# notebooks/

*.tar
*.pid

.env
.env.*

build/
dist/
.cache/
.streamlit/

desktop.ini
